<h1><%= @manager.name %></h1>
<p><%= @manager.title %> | <%= @manager.location.name %></p>

<p><%= @manager.bio %></p>

<%= button_to "Edit Your Profile", edit_manager_path(@manager), method: "get" %>
<%= button_to "Home", root_path, method: "get" %>

<h3><%= @manager.name %>'s Team's Learning</h3>
<ul>
  <% org_event_arr.each do |e| %>
    <% if e.employees.last.manager_id == @manager.id  %>
      <li><%= link_to "#{e.employees.last.name} | #{e.name}", event_path(e) %></li>
    <% end %>
  <% end %>
</ul>
